doctype html

block vars

html(lang="en")
  head
    include ../partials/head
  body.body__404

    include ../../templates/mixins/mixins

    block content
    include ../../templates/partials/footer
