include ./tabs/moscow-tabs
include ./tabs/petersburg-tabs
include ./tabs/sochi-tabs
include ./tabs/novosibirsk-tabs
include ./tabs/vladivostok-tabs

// Select
include ./tariffs-political-fotorama/moscow
include ./tariffs-political-fotorama/petersburg
include ./tariffs-political-fotorama/sochi
include ./tariffs-political-fotorama/novosibirsk
include ./tariffs-political-fotorama/vladivostok
