.tariffs-political {
  background-color: $grey-six;
  position: relative;
  padding-bottom: 53px;
  .container {
    //@media only screen and (max-width: 479.98px) {
    //  padding-right: 0;
    //  padding-left: 0;
    //}
  }

  .fotorama {
    &__nav {
      &--thumbs {
        display: flex;
      }
    }
    &__arr {
      top: auto;
      bottom: 0;
      margin-bottom: 25px;
      opacity: 1 !important;
      @media only screen and (min-width: 768px) and (max-width: 1279.98px) {
        margin-bottom: 17px;
      }
      @media only screen and (max-width: 767.98px) {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
        margin-bottom: 0;
      }
      &--prev {
        width: 37px;
        height: 37px;
        left: auto;
        right: 55px;
        margin-right: 12px;
        border-radius: 50%;
        border: 1px solid $white-one;
        @include flex-center-wrap;
        justify-content: center;
        overflow: hidden;
        transition: all .2s;
        @media only screen and (max-width: 1279.98px) {
          width: 26px;
          height: 26px;
          right: 35px;
        }
        @media only screen and (max-width: 991.98px) {
          width: 23px;
          height: 23px;
          right: 30px;
        }
        @media only screen and (max-width: 767.98px) {
          width: 30px;
          height: 30px;
          border: none;
          background: $gold-one;
          right: auto;
          left: 10px;
          box-shadow: 0 4px 4px $black-rgba-four;
        }
        &:before {
          content: url('data:image/svg+xml;utf8,<svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.06771 0.395318C7.33732 0.116274 7.78605 0.116274 8.0651 0.395318C8.33471 0.664934 8.33471 1.11367 8.0651 1.38265L3.00775 6.44H19.6963C20.0853 6.44063 20.3945 6.74984 20.3945 7.13886C20.3945 7.52789 20.0853 7.84715 19.6963 7.84715H3.00775L8.0651 12.8951C8.33471 13.1741 8.33471 13.6235 8.0651 13.8925C7.78605 14.1715 7.33669 14.1715 7.06771 13.8925L0.813118 7.63787C0.534075 7.36826 0.534075 6.91952 0.813118 6.65054L7.06771 0.395318Z" fill="white"/></svg>');
          animation: arrow-left-anim-out .3s ease-in-out 0s;
          z-index: 10000;
          @media only screen and (max-width: 1279.98px) {
            content: url('data:image/svg+xml;utf8,<svg width="15" height="10" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.06771 0.395318C7.33732 0.116274 7.78605 0.116274 8.0651 0.395318C8.33471 0.664934 8.33471 1.11367 8.0651 1.38265L3.00775 6.44H19.6963C20.0853 6.44063 20.3945 6.74984 20.3945 7.13886C20.3945 7.52789 20.0853 7.84715 19.6963 7.84715H3.00775L8.0651 12.8951C8.33471 13.1741 8.33471 13.6235 8.0651 13.8925C7.78605 14.1715 7.33669 14.1715 7.06771 13.8925L0.813118 7.63787C0.534075 7.36826 0.534075 6.91952 0.813118 6.65054L7.06771 0.395318Z" fill="white"/></svg>');
            margin-top: -3px;
          }
          @media only screen and (max-width: 991.98px) {
            content: url('data:image/svg+xml;utf8,<svg width="12" height="8" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.06771 0.395318C7.33732 0.116274 7.78605 0.116274 8.0651 0.395318C8.33471 0.664934 8.33471 1.11367 8.0651 1.38265L3.00775 6.44H19.6963C20.0853 6.44063 20.3945 6.74984 20.3945 7.13886C20.3945 7.52789 20.0853 7.84715 19.6963 7.84715H3.00775L8.0651 12.8951C8.33471 13.1741 8.33471 13.6235 8.0651 13.8925C7.78605 14.1715 7.33669 14.1715 7.06771 13.8925L0.813118 7.63787C0.534075 7.36826 0.534075 6.91952 0.813118 6.65054L7.06771 0.395318Z" fill="white"/></svg>');
            margin-top: -3px;
          }
          @media only screen and (max-width: 767.98px) {
            content: url('data:image/svg+xml;utf8,<svg width="15" height="10" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.06771 0.395318C7.33732 0.116274 7.78605 0.116274 8.0651 0.395318C8.33471 0.664934 8.33471 1.11367 8.0651 1.38265L3.00775 6.44H19.6963C20.0853 6.44063 20.3945 6.74984 20.3945 7.13886C20.3945 7.52789 20.0853 7.84715 19.6963 7.84715H3.00775L8.0651 12.8951C8.33471 13.1741 8.33471 13.6235 8.0651 13.8925C7.78605 14.1715 7.33669 14.1715 7.06771 13.8925L0.813118 7.63787C0.534075 7.36826 0.534075 6.91952 0.813118 6.65054L7.06771 0.395318Z" fill="white"/></svg>');
            margin-top: -3px;
          }
        }
        &:hover {
          &:before {
            animation: arrow-left-anim-in .3s ease-in-out 0s;
          }
        }
        &:active {
          background-color: $black-rgba-four;
        }
      }
      &--next {
        width: 37px;
        height: 37px;
        right: 15px;
        border-radius: 50%;
        border: 1px solid $white-one;
        @include flex-center-wrap;
        justify-content: center;
        overflow: hidden;
        @media only screen and (max-width: 1279.98px) {
          width: 26px;
          height: 26px;
          right: 10px;
        }
        @media only screen and (max-width: 991.98px) {
          width: 23px;
          height: 23px;
        }
        @media only screen and (max-width: 767.98px) {
          width: 30px;
          height: 30px;
          border: none;
          background: $gold-one;
          right: 10px;
          left: auto;
          box-shadow: 0 4px 4px $black-rgba-four;
        }
        &:before {
          content: url('data:image/svg+xml;utf8,<svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9323 0.395318C13.6627 0.116274 13.2139 0.116274 12.9349 0.395318C12.6653 0.664934 12.6653 1.11367 12.9349 1.38265L17.9922 6.44H1.30371C0.914679 6.44063 0.605469 6.74984 0.605469 7.13886C0.605469 7.52789 0.914679 7.84715 1.30371 7.84715H17.9922L12.9349 12.8951C12.6653 13.1741 12.6653 13.6235 12.9349 13.8925C13.2139 14.1715 13.6633 14.1715 13.9323 13.8925L20.1869 7.63787C20.4659 7.36826 20.4659 6.91952 20.1869 6.65054L13.9323 0.395318Z" fill="white"/></svg>');
          animation: arrow-right-anim-out .3s ease-in-out 0s;
          z-index: 10000;
          @media only screen and (max-width: 1279.98px) {
            content: url('data:image/svg+xml;utf8,<svg width="15" height="10" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9323 0.395318C13.6627 0.116274 13.2139 0.116274 12.9349 0.395318C12.6653 0.664934 12.6653 1.11367 12.9349 1.38265L17.9922 6.44H1.30371C0.914679 6.44063 0.605469 6.74984 0.605469 7.13886C0.605469 7.52789 0.914679 7.84715 1.30371 7.84715H17.9922L12.9349 12.8951C12.6653 13.1741 12.6653 13.6235 12.9349 13.8925C13.2139 14.1715 13.6633 14.1715 13.9323 13.8925L20.1869 7.63787C20.4659 7.36826 20.4659 6.91952 20.1869 6.65054L13.9323 0.395318Z" fill="white"/></svg>');
            margin-top: -3px;
          }
          @media only screen and (max-width: 991.98px) {
            content: url('data:image/svg+xml;utf8,<svg width="12" height="8" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9323 0.395318C13.6627 0.116274 13.2139 0.116274 12.9349 0.395318C12.6653 0.664934 12.6653 1.11367 12.9349 1.38265L17.9922 6.44H1.30371C0.914679 6.44063 0.605469 6.74984 0.605469 7.13886C0.605469 7.52789 0.914679 7.84715 1.30371 7.84715H17.9922L12.9349 12.8951C12.6653 13.1741 12.6653 13.6235 12.9349 13.8925C13.2139 14.1715 13.6633 14.1715 13.9323 13.8925L20.1869 7.63787C20.4659 7.36826 20.4659 6.91952 20.1869 6.65054L13.9323 0.395318Z" fill="white"/></svg>');
            margin-top: -3px;
          }
          @media only screen and (max-width: 767.98px) {
            content: url('data:image/svg+xml;utf8,<svg width="15" height="10" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9323 0.395318C13.6627 0.116274 13.2139 0.116274 12.9349 0.395318C12.6653 0.664934 12.6653 1.11367 12.9349 1.38265L17.9922 6.44H1.30371C0.914679 6.44063 0.605469 6.74984 0.605469 7.13886C0.605469 7.52789 0.914679 7.84715 1.30371 7.84715H17.9922L12.9349 12.8951C12.6653 13.1741 12.6653 13.6235 12.9349 13.8925C13.2139 14.1715 13.6633 14.1715 13.9323 13.8925L20.1869 7.63787C20.4659 7.36826 20.4659 6.91952 20.1869 6.65054L13.9323 0.395318Z" fill="white"/></svg>');
          }
        }
        &:hover {
          &:before {
            animation: arrow-right-anim-in .3s ease-in-out 0s;
          }
        }
        &:active {
          background-color: $black-rgba-four;
        }
      }
    }
    &__arr,
    &__fullscreen-icon,
    &__video-close,
    &__video-play {
      background-image: none;
    }
    &__caption {
      color: $white-one;
      font-family: $verdana-semi-bold;
      font-size: 20px;
      margin-bottom: 10px;
      @media only screen and (max-width: 1279.98px) {
        font-size: 16px;
      }
      @media only screen and (max-width: 991.98px) {
        font-size: 14px;
      }
      &__wrap {
        width: 100%;
        background-color: $gold-one;
        padding: 18px;
        @media only screen and (max-width: 1279.98px) {
          padding: 8px 10px;
        }
      }
    }
    &__thumb-border {
      border-color: $gold-one;
    }
    &__stage {
      @media only screen and (max-width: 767.98px) {
        width: 100% !important;
      }
    }
    &__tariffs-political {
      @media only screen and (max-width: 479.98px) {
        margin-bottom: 30px;
      }
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: auto;
    position: relative;
    @media only screen and (min-width: 0) and (max-width: 767.98px) {
      display: none;
    }
    @media only screen and (min-width: 768px) and (max-width: 1599.98px) {
      grid-template-columns: repeat(1,1fr);
    }
  }
  &__block {
    &_left {
      border-bottom: 1px solid $gold-one;
      grid-column: span 6;
      @media only screen and (max-width: 1599.98px) {
        grid-column: span 12;
      }
      li {
        .nav-link {
          font-family: $francker-cyr-cond-regular;
          font-size: 20px;
          color: $black-one;
          border: 0 solid transparent;
          position: relative;
          overflow: hidden;
          transition: all .2s;
          height: 100%;
          margin-right: 17px;
          padding: 0.5rem 1rem 1.5rem;
          @media only screen and (max-width: 991.98px) {
            margin-right: 10px;
          }
          &:after {
            content: '';
            height: 2px;
            width: 100%;
            background-color: $gold-one;
            transition: all .2s;
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: -10px;
          }
          &.active {
            color: $gold-one;
            background-color: transparent;
            border: none;
            &:after {
              margin-bottom: 0;
              transition: all .2s;
            }
          }
          &:hover {
            color: $gold-one;
            &:after {
              margin-bottom: 0;
              transition: all .2s;
            }
          }
        }
      }
    }
    &_right {
      border-bottom: 1px solid $gold-one;
      display: flex;
      justify-content: flex-end;
      grid-column: span 6;
      @media only screen and (max-width: 1599.98px) {
        grid-column: span 12;
        justify-content: center;
        border-bottom: 0;
        padding-bottom: 30px;
        grid-row: 1;
      }
      @media only screen and (max-width: 767.98px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
      }
      @media only screen and (max-width: 575.98px) {
        justify-content: center;
        padding-bottom: 32px;
      }
      .button {
        @media only screen and (max-width: 575.98px) {
          width: 100%;
          max-width: 360px;
          height: 60px;
          min-height: 60px;
          max-height: 60px;
          font-size: 18px;
          span {
            width: 43px;
            max-width: 43px;
            height: 43px;
            min-height: 43px;
            max-height: 43px;
            svg {
              width: 20px;
              height: 14px;
            }
          }
        }
        &:first-child {
          @media only screen and (max-width: 575.98px) {
            margin-bottom: 17px;
            margin-right: 0;
          }
        }
      }
    }
  }
  &__tab-content {
    position: relative;
    padding-top: 45px;
  }
  &__tab-pane {
    grid-template-columns: 55% 45%;
    grid-auto-rows: auto;
    @media only screen and (max-width: 1279.98px) {
      grid-template-columns: 50% 50%;
    }
  }
  .tab-content > .active {
    display: grid;
    @media only screen and (max-width: 767.98px) {
      display: block;
    }
  }
  &__carousel {
    &_button {
      width: 101px;
      height: 101px;
      background-color: black;
      margin-right: 15px;
      display: inline-block;
    }
  }
  &__carousel-wrapper {
    padding-right: 0;
  }
  &__information {
    padding-left: 30px;
  }
  &__card {
    display: block;
    width: 100%;
    a {
      padding-left: 0;
      @media only screen and (max-width: 991.98px) {
        padding-right: 0;
      }
    }
    &_mb-40 {
      margin-bottom: 40px;
      @media only screen and (max-width: 1599.98px) {
        margin-bottom: 15px;
      }
      @media only screen and (max-width: 1279.98px) {
        margin-bottom: 15px;
      }
    }
  }
  &__card-header {
    h2 {
      margin-bottom: 0;
    }
    button {
      border: 0;
      padding: 0;
      font-family: $verdana-semi-bold;
      font-size: 18px;
      color: $gold-one;
      transition: margin-bottom .3s;
      background: transparent;
      min-height: 38px;
      @media only screen and (max-width: 1023.98px) {
        font-size: 16px;
      }
      @media only screen and (max-width: 991.98px) {
        font-size: 14px;
        min-height: 33px;
      }
      &.collapsed {
        color: $black-one;
        margin-bottom: 0;
        transition: margin-bottom .3s;
      }
    }
  }
  &__collapse {
    padding-left: 62px;
    @media only screen and (max-width: 991.98px) {
      padding-left: 45px;
    }
    p {
      font-family: $verdana-regular;
      font-size: 18px;
      padding-bottom: 20px;
      @media only screen and (max-width: 1023.98px) {
        font-size: 16px;
        padding-bottom: 10px;
      }
      @media only screen and (max-width: 991.98px) {
        font-size: 14px;
        padding-bottom: 10px;
      }
    }
    ul {
      list-style-image: url("#{$way-img}svg-icons/star-gold.svg");
      padding-left: 62px;
      color: $grey-five;
      font-size: 16px;
      font-family: $verdana-regular;
      @media only screen and (max-width: 991.98px) {
        font-size: 14px;
      }
      li {
        line-height: 2em;
      }
    }
  }
  //select
  &__wrapper-select {
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
  &__wrapper-carousel {
    position: relative;

    @media only screen and (min-width: 768px) {
      display: none;
    }
    @media only screen and (max-width: 767.98px) {
      display: block;
    }

    ul.nav-pills {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 30px;
      border-bottom: 1px solid $gold-one;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 15px;

      @media only screen and (max-width: 479.98px) {
        display: block;
        border-bottom: none;
      }

      li.dropdown {
        position: relative;
        .dropdown-toggle {
          font-family: $francker-cyr-cond-regular;
          font-size: 20px;
          color: $black-one;
          text-decoration: none;
          width: 100%;
          display: flex;
          align-items: center;
          align-content: center;
          position: relative;
          @media only screen and (max-width: 479.98px) {
            border-bottom: 1px solid $gold-one;
            padding-top: 15px;
            padding-bottom: 10px;
          }
          &:after {
            vertical-align: middle;
            content: url('data:image/svg+xml;utf8,<svg width="12" height="7" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.763 2.23355L8.61704 7.37955L8.76504 7.52655L7.42404 8.86755L7.27604 8.71955L7.12804 8.86755L5.78804 7.52655L5.93604 7.37955L0.790039 2.23355L2.13004 0.893555L7.27604 6.03855L12.422 0.893555L13.763 2.23355Z" fill="black"/></svg> ');
            top: 0;
            border: none;
            transition: all .1s ease-in-out;
            margin-left: 30px;
            @media only screen and (max-width: 479.98px) {
              right: 0;
              margin-left: auto;
            }
          }
        }
        &.show {
          .dropdown-toggle {
            &:after {
              transform: rotate(-180deg);
            }
          }
        }

        .dropdown-menu {
          border: none;
          box-shadow: 0 2px 10px $black-rgba-six;
          overflow: hidden;
          width: 100%;
          padding: 0;
          a {
            text-decoration: none;
            font-family: $francker-cyr-cond-light;
            font-size: 16px;
            color: $black-one;
            display: block;
            line-height: 2em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            padding: 5px 10px;
            width: 100%;
            transition: all .2s ease-in-out;
            &.active {
              background: $gold-one;
              color: $white-one;
            }
            &:hover {
              background: $gold-two;
            }
          }
        }
      }
    }
    .button {
      position: absolute;
      right: 0;
      z-index: 100;
      bottom: 0;
      @media only screen and (max-width: 575.98px) {
        font-size: 18px;
        height: 60px;
        min-height: 60px;
        max-height: 60px;
      }
      @media only screen and (max-width: 479.98px) {
        position: relative;
        margin: 35px auto 0;
        display: block;
      }
      p {
        @media only screen and (max-width: 575.98px) {
          margin-right: 40px;
        }
      }
      span {
        @media only screen and (max-width: 575.98px) {
          width: 43px;
          max-width: 43px;
          height: 43px;
          min-height: 43px;
          max-height: 43px;
        }
        svg {
          @media only screen and (max-width: 575.98px) {
            width: 20px;
            height: 14px;
          }
        }
      }
    }
    .tab-content {
      @media only screen and (max-width: 479.98px) {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
  }
  &__fotorama {
    &_info {
      @media only screen and (max-width: 479.98px) {
        padding-left: 15px;
        padding-right: 15px;
      }
      p {
        font-family: $verdana-semi-bold;
        font-size: 14px;
        padding-bottom: 10px;
        br {
          display: none;
          @media only screen and (max-width: 479.98px) {
            display: block;
            line-height: 1.5em;
          }
        }
      }
      ul {
        list-style-image: url("#{$way-img}svg-icons/star-gold.svg");
        padding-left: 20px;
        color: $grey-five;
        font-size: 14px;
        font-family: $verdana-light;

        li {
          line-height: 2em;
        }
      }
    }
  }
}
